@model BizSol.Models.ViewModels.CityFilterViewModel

<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="all">
        <div class="container">
            <div class="row">
                <!--FeaturedPosts-->

                @{
                    if (Model.adpost != null)
                    {
                        foreach (var item in Model.adpost)
                        {

                            <div class="col-lg-4 col-md-4 col-sm-6 match-height item item-grid">
                                <div class="classiera-box-div classiera-box-div-v5">
                                    <figure class="clearfix">
                                        <div class="premium-img">

                                            <img class="img-responsive" src="@Url.Content(item.AdsImages.FirstOrDefault().ImagePath)" alt="@item.Title">
                                            <span class="hover-posts">
                                                <a href="@Url.Action("ViewAd","Ads", new { id = @item.PostId })">View Ad</a>
                                            </span>
                                            <span class="price">
                                                RS :
                                                @item.Price
                                            </span>
                                            <span class="classiera-buy-sel">
                                                For Sale
                                            </span>
                                        </div><!--premium-img-->
                                        <div class="detail text-center">
                                            <span class="price">
                                                RS :
                                                @item.Price
                                            </span>

                                            <a href="@Url.Action("ViewAd","User", new { id = @item.PostId })" class="btn btn-primary outline btn-style-five">View Ad</a>
                                        </div><!--detail text-center-->
                                        <figcaption>
                                            <span class="price visible-xs">
                                                RS :
                                                @item.Price
                                            </span>
                                            <h5>
                                                <a href="@Url.Action("ViewAd","User", new { id = @item.PostId })">
                                                    @(item.Title.Length > 25 ? item.Title.Substring(0, 24) : item.Title)
                                                </a>
                                            </h5>
                                            <span>
                                                @(item.Detail.Length > 30 ? item.Detail.Substring(0, 29) : item.Detail)...
                                            </span>
                                            <div class="category">
                                                <span style="float:left">


                                                    Condition : @item.Condition

                                                </span>

                                                <span style="margin-left:80%">
                                                    @item.WhenAdded.Date.ToString("dd/MMM/yy")


                                                </span>
                                                <span>
                                                    Location :
                                                    <a href="#"></a>
                                                </span>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div><!--row-->
                            </div><!--col-lg-4-->
                        }
                    }
                }



                <!--FeaturedPosts-->
            </div><!--row-->
        </div><!--container-->
    </div><!--tabpanel all-->

</div><!--tab-content-->

<div class="view-all text-center">
    <div>
        Page @Model.Pager.CurrentPage of @Model.Pager.TotalPages

        @if (Model.Pager != null && Model.Pager.TotalPages > 1)
        {
            <div>
                <ul class="pagination">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li class="prev">
                            <a data-href="@Url.Action("_cityFilterAds", "Ads", new { pageNo = Model.Pager.CurrentPage - 1,cityId = Model.cityId, sortBy = Model.SortBy, selectedCityId = Model.SelectedCityId, condition = Model.Condition})" class="pageDataLink PagedList-skipToPrevious pointer">«</a>
                        </li>
                    }

                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;

                        <li class="@activeClass"><a data-href="@Url.Action("_cityFilterAds", "Ads", new { pageNo = page, cityId = Model.cityId, sortBy = Model.SortBy, selectedCityId = Model.SelectedCityId, condition = Model.Condition})" title="" class="pageDataLink pageDataLink pointer">@page</a></li>
                    }

                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li><a data-href="@Url.Action("_cityFilterAds", "Ads", new { pageNo = Model.Pager.CurrentPage + 1, cityId = Model.cityId, sortBy = Model.SortBy, selectedCityId = Model.SelectedCityId, condition = Model.Condition})" class="pageDataLink PagedList-skipToNext pointer">»</a></li>
                    }
                </ul><!-- /.flat-pagination -->
            </div>
        }
    </div>
</div>

<input type="hidden" id="SearchTerm" value="@Model.searchTerm" />
<input type="hidden" id="SortBy" value="@Model.SortBy" />
<input type="hidden" id="CityID" value="@Model.SelectedCityId" />
<input type="hidden" id="CategoryId" value="@Model.categoryId" />
<input type="hidden" id="Condition" value="@Model.Condition" />


<script>
	$(".pageDataLink").click(function () {
		var url = $(this).attr("data-href");

		if (url != "" || url != undefined) {
			GetData(url);
		}
	});
</script>