@model BizSol.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutWithOutSearch.cshtml";
}


<!-- NavBar -->	<!-- Mobile App button -->
<div class="mobile-submit affix">
    <ul class="list-unstyled list-inline mobile-app-button">
        <li>
            <a href="@Url.Action("Login","Account")">
                <i class="fa fa-sign-in"></i>
                <span>Login</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Register", "Account")">
                <i class="fa fa-edit"></i>
                <span>Submit Ad</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Register", "Account")">
                <i class="fa fa-user-o"></i>
                <span>Get Registered</span>
            </a>
        </li>
    </ul>
</div>
<!-- Mobile App button -->
@*@if (ViewBag.Message != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Message
        </div>
    }*@

<section class="inner-page-content border-bottom top-pad-50">
    <div class="login-register login-register-v1">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-11 col-sm-12 center-block">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="classiera-login-register-heading border-bottom text-center">
                                <h3 class="text-uppercase">Forget Password</h3>
                            </div>

                        </div><!--col-lg-12-->
                    </div><!--row-->
                    <div class="row">
                        <div class="col-lg-8 col-sm-10 col-md-8 center-block">


                            <form data-toggle="validator" onclick="location.href'@Url.Action("ForgotPassword","Account")'" role="form" method="POST" id="myform" enctype="multipart/form-data">
                                @Html.AntiForgeryToken()
                                
                                <div class="form-group">
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-4 single-label">
                                            <label for="username">Your Email : <span class="text-danger">*</span></label>
                                        </div>

                                        <div class="col-lg-8 col-sm-8">
                                            <div class="inner-addon left-addon">
                                                <i class="left-addon form-icon fa fa-lock"></i>

                                                <input type="text" id="username" name="Email" class="form-control form-control-md sharp-edge" placeholder="Type Your Email" data-error="Email required" required>
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--Email div-->
                                <div class="col-lg-8 col-sm-8 pull-right flip">
                                    <div class="form-group">
                                        <input type="hidden" id="submit" name="submit" value="Reset" />
                                        <button class="btn btn-primary sharp btn-md btn-style-one" id="edit-submit" name="op" value="Reset" type="submit">Reset Password</button>
                                    </div>
                                </div><!--Email div-->
                            </form>
                        </div>
                    </div><!--row-->
                </div><!--col-lg-10-->
            </div><!--row-->
        </div><!--container-->
    </div><!--login-register login-register-v1-->
</section>
